/* Общие стили */
.root {
    -fx-background-color: #1a1e24; /* Светло-серый фон */
    -fx-font-family: "Roboto Regular", sans-serif; /* Или другой похожий шрифт */
}

.canvas {
    -fx-background-color: #2b2d30;
    -fx-padding: 15px;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-pref-width: 500px;
}

.infoPane {
    -fx-text-fill: white;
    -fx-background-color: #1a1e24;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}

.pane {
    -fx-spacing: 0;
    -fx-padding: 0;
}

/* Кнопки */
.button {
    -fx-background-color: #007bff; /* Акцентный цвет (синий) */
    -fx-text-fill: white;
    -fx-font-family: "Roboto Bold", sans-serif; /* Или другой похожий шрифт */
    -fx-padding: 10px; /* Внутренний отступ для кнопки */
    -fx-border-radius: 5px;
    -fx-margin: 10px; /* Отступ от соседних элементов */
}


/* Текстовые поля */
.text-field {
    -fx-background-color: white;
    -fx-border-color: #ccc; /* Светло-серый цвет границ */
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}

/* Заголовки */
.label {
    -fx-text-fill: #222; /* Темно-серый текст */
    -fx-font-weight: bold;
}
